html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
	background: #141414;
	color: #ffffff;
}
.movie-list{
	display: flex;
	flex-direction: row;
	text-align: center;
}
.center{
	text-align: center;
}
.image{
	display: inline-block;
	height: 220px;
	width: 210px;
}
.images{
	margin: 10px;
}
.input-bar{
	border: none;
	border:solid 1px #ccc;
    border-radius: 10px;
	width: 50%;
	height: 40px;
}
.container{
	background-color:#ccc;
	color: #141414;
}
.imagevar{
	display: inline-block;
	margin-top: 85px;
	height: 410px;
	width: 330px;
	margin-bottom: 20px;
}
.imagediv{
	text-align: center;
}
.varhtag{
	text-align: center;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}
.textdiv{
	text-align: center;
}